# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  '.tree-view .directory > .header': [
    {
      label: 'SysAngular',
      submenu: [
        {
          label: 'Create Module',
          command: 'atom-sys-angular:generate-module'
        },
        {
          label: 'Create Controller',
          command: 'atom-sys-angular:generate-controller'
        },
        {
          label: 'Create Directive',
          command: 'atom-sys-angular:generate-directive'
        },
        {
          label: 'Create Service',
          command: 'atom-sys-angular:generate-service'
        }
      ]
    }
  ]
